*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.link{
    color: whitesmoke;
    text-decoration: none;
}
.link:hover{
    font-weight: bold;
}

.Reslink{
    color: blue;
    text-decoration: none;
    text-align: center;
}
.Reslink:hover{
    font-weight: bold;
}

.login-Link{
    color: blue;
    text-decoration: solid;
}