*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.link{
    color: whitesmoke;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}

.Reslink{
    color: blue;
    text-decoration: none;
}
.Reslink:hover{
    text-decoration: underline;
}